form {
	margin-left: 8%;
	width: 40%;
	padding: 25px;
}

legend {
	background: #f2f2f2;
	width: 99%;
	border: 2px solid #f2f2f2;
}

button {
	border: 1px solid silver;
	padding: 10px;
	background: white;
	border-radius: 5px;
	position: relative;
}

a {
	color: black;
	text-decoration: none;
}

h2 {
	text-align: center;
}

#signup {
	margin-left: 80px;
}

input {
	border: 1px solid silver;
	border-radius: 3px;
	padding: 10px;
}

form>div,form>h4 {
	margin-left: 0%;
}